
EmployeeManagementSystem/.vs/EmployeeManagementSystem/config/applicationhost.config
*.v2
EmployeeManagementSystem/.vs/EmployeeManagementSystem/v16/.suo
EmployeeManagementSystem/bin
EmployeeManagementSystem/obj
